<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AJfAX</title>
    {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'trans/style.css' %}" />
<script src="{% static 'trans/jquery-3.2.1.min.js' %}" ></script>
</head>
<body>
<div class="main">

</div>
<button id="btn1" >Load Messages</button>
<button id="btn2" >No Messages</button>
<script>
    $(function(){
        var root = "{% url 'a' %}";
    $("#btn1").on("click",function(event){
        event.preventDefault();
        $.ajax(root, {
                dataType:"json",
                method:"POST",
                data:{action: "a"},
                success:function(response){
                    console.log(response)
                },
        });

    });

});

$(function(){
    var root = "{% url 'a' %}";
    $("#btn2").on("click",function(event){
        event.preventDefault();
        $.ajax(root, {
                dataType:"json",
                method:"POST",
                data:{action: "b"},
                success:function(response){
                    console.log(response)
                },
        });

    });

});
</script>
</body>
</html>

