{% extends "trans/base.html" %}

{% block content%}
<h1>Register Form</h1>

{% include "trans/form.html" with form=form %}

<!--<form method="post" id="qwe" action="">{% csrf_token %}-->
    <!--{% for i in object_list %}-->

    <!--<input type="checkbox" name="select" id="option{{forloop.counter}}" value={{ forloop.counter }} />-->
    <!--<label for="option{{forloop.counter}}"><b>{{forloop.counter}}</b></label><br />-->


    <!--{% endfor %}-->
<!--<input type="submit" value="Submit" />-->
<!--</form>-->

{% endblock %}
